@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
 v2.0 | 20110126
 License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* costom */
* {
    box-sizing: border-box;
}

:root {
    --primary: #049DD9;
    --secondary: #D2D904;
    --text1: #333333;
    --text2: #666;
    --background: #ffffff;
}

html {
    overflow-y: scroll;
    /* 시험규정상 작성(높이지정) */
    overflow-x: hidden;
    /* 기본폰트값 10px로 수정(rem단위사용) */
    font-size: 62.5%;
    line-height: 1.75;
    font-weight: 400;
}

body {
    font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif;
    color: (var(--text1));
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: var(#333);
}

a:hover {
    text-decoration: underline;
}

h1,
.h1 {
    font-size: 3.1rem;
    font-weight: 700;
}

h2,
.h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

h3,
.h3 {
    font-size: 2rem;
    font-weight: 400;
}

.caption {
    font-size: 1.3rem;
    font-weight: 300;
}

.link {
    font-size: 1.6rem;
    font-weight: 100;
}